<h1>Your Order</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <p>Order Id: <%= "56724300#{@order.id}" %></p>
      <% @order.carted_products.each do |carted_product| %>
        <h4>Name: <%= carted_product.product.name %></h4>
        <h5>Price: <%= carted_product.product.price %></h5>
        <h5>Quantity: <%= carted_product.quantity %></h5>
      <% end %>
      <p>Subtotal: <%= @order.subtotal %></p>
      <p>Tax: <%= number_to_currency(@order.tax) %></p>
      <p>Total: <%= number_to_currency(@order.total) %></p>
    </div>
  </div>
</div>