<h1>Your Order</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="thumbnail">
      <p>Order Id: <%= "56724300#{@order.id}" %></p>
      <p>Product Name: <%= @order.product.name %></p>
      <%= image_tag @order.product.default_image %>
      <p>Email: <%= @order.user.email %></p>
      <p>Unit Price: <%= number_to_currency(@order.product.price) %></p>
      <p>Quantity: <%= @order.quantity %></p>
      <p>Subtotal: <%= number_to_currency(@order.subtotal) %></p>
      <p>Tax: <%= number_to_currency(@order.tax) %></p>
      <p>Total: <%= number_to_currency(@order.total) %></p>
    </div>
  </div>
</div>