<h1>Update Product</h1>
<%=form_tag "/products/#{@product.id}", method: :patch do %>
<div>
  name: <input type="text" name="name" value="<%=@product.name%>" >
</div>
<div>
  size: <input type="text" name="size"  value="<%=@product.size%>" >
</div>
<div>
  price: <input type="text" name="price" value="<%=@product.price%>" >
</div>
<div>
  color: <input type="text" name="color" value="<%=@product.color%>" >
</div>
<div>
  image url: <input type="text" name="image" value="<%=@product.image%>" >
</div>
<div>
  description: <input type="text" name="description" value="<%=@product.description%>" >
</div>
<input type="submit" value="Update Product">
<%end%>
