<h1>Recipe Added to DB</h1>
<h1>Recipe Info</h1>
<h2><%= @product.name %></h2>
<h2><%= @product.size %></h2>
<h2><%= @product.color%></h2>
<h2><%= @product.price %></h2>
<img src="<%= @product.image %>" alt="t-shirt">
<h2><%= @product.description %></h2>


<a href="all_products">EVERYTHING</a>