<div class="col-md-6">
    <div class="product">
      <h2><%=@product.name %></h2>
      <h4>size: <%=@product.size %></h4>
      <h4>color: <%=@product.color %></h4>
      <h4 class= <%= "on-sale" if @product.on_sale?%>>
        <% if @product.on_sale? %>
          Sale price:
        <% else %>
          Everyday low price:
        <% end %>
        <%= number_to_currency@product.price %></h4>
      <h4>tax: <%= number_to_currency@product.tax %></h4>
      <h4>total: <%= number_to_currency@product.total %></h4>
      <p><%=@product.description %></p>
      <p>supplier: <%= @product.supplier.name %></p>
      <h5>Categories:</h5>
      <h4><% @product.categories.each do |category| %>
        <a class="btn btn-default" href="/products?category=<%= category.name%>"><%= category.name%></a>      
          <% end %>
      </h4>

<%= form_tag "/orders", method: :post do %>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag "Buy Now!", class: "btn btn-default" %>
<% end %>






  <a class="btn btn-info" href="/products/<%= @product.id %>/edit">Edit product</a>





<%= form_tag "/products/#{@product.id}", method: :delete do %>
      <input class="btn btn-danger" type="submit" value=DESTROY>
    </div>   
</div>
  <div class="col-md-6">
    <div class="thumbnail">
      <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
    </div>
  </div>
  
  <%end%>