<div class="col-md-6">
    <div class="product">
      <h2><%=@product.name %></h2>
      <h4>size: <%=@product.size %></h4>
      <h4>color: <%=@product.color %></h4>
      <h4>price: $<%=@product.price %>.99</h4>
      <p><%=@product.description %></p>
      <a class="btn btn-default" href="/products">Home</a>
  <a class="btn btn-info" href="/products/<%= @product.id %>/edit">Edit product</a>
  <%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value=DESTROY>
    </div>   
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src=<%=@product.image%>>
    </div>
  </div>

  
  <%end%>